@model IEnumerable<Examination_System_MVC.Models.VStudentComprehensiveProfile>

<div class="container mt-4">
    <h2 class="text-primary"> Student Deatail</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Track</th>
                <th>Branch</th>
                <th>Status</th>
           
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FullName</td>
                    <td>@item.UserEmail</td>
                    <td>@item.TrackName</td>
                    <td>@item.BranchName</td>
                    <td>
                        <span class="badge @(item.AccountStatus == "Active" ? "bg-success" : "bg-danger")">
                            @item.AccountStatus
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>